<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
    <% include header %>
    <h1>회원가입</h1>
    <hr>
    
    <form action='/create' method="POST">
        <table>
            <tr>
                <td><input type="text" name="user_id" placeholder="ID"></td>
            </tr>
            <tr>
                <td><input type="password" name="user_pw" placeholder="PW"></td>
            </tr>
            <tr>
                <td><input type="text" name="user_name" placeholder="name"></td>
            </tr>
        </table>
        <input type="submit" value="가입하기">
    </form>

    <table>
        <% for(let data of result) { %>
            <tr>
                <td><%= data.user_id %></td>
                <td><%= data.user_pw %></td>
                <td><%= data.user_name %></td>
            </tr>
        <% } %>
    </table>

    <a href="http://localhost:3000/">홈으로</a>
</body>
</html>